{% extends "project/base.html" %}
{% block content %}
        <div class="content-section">
            <h1>BCSD Intranet</h1>
            <h2>District Links</h2>
            <table class="table table-sm table-hover table-bordered">
                <thread>
                    <tr>
                        <th scope="col">
                            Category
                        </th>
                        <th scope="col">
                            Service
                        </th>
                        <th scope="col">
                            Last Modified
                        </th>
                    </tr>
                </thread>
                <tbody>
                    {% for l in object_list %}
                    <tr>
                        <th scope="row">{{ l.category }}</th>
                        <td><a href="{{ l.url }}" target="_blank">{{ l }}</a></td>
                        <td>{{ l.date_modified }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
            {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1{% if urlquery %}&{{ urlquery }}{% endif %}">first</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}{% if urlquery %}&{{ urlquery }}{% endif %}">previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}{% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}{% if urlquery %}&{{ urlquery }}{% endif %}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}{% if urlquery %}&{{ urlquery }}{% endif %}">{{ num }}</a>
            {% endif %}{% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}{% if urlquery %}&{{ urlquery }}{% endif %}">next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}{% if urlquery %}&{{ urlquery }}{% endif %}">last</a>
            {% endif %}
            {% endif %}
        </div>
{% endblock content %}