{% extends "project/base.html" %}
{% load core_tags %}
{% block title %}BEN {{ ben.entity_name }} ({{ ben.entity_number }}){% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ ben.entity_name }}: {{ ben.entity_number }} </li>
    </ol>
</nav>
<div class="content">
    <div class="row text-center">
        <div class="col">
            <h2>{{ ben.entity_name }}: {{ ben.entity_number }} ({{ ben.entity_type }})</h2>
        </div>
    </div><div class="row">
        <div class="col">
            USAC Data Last Updated by: {{ ben.entity_last_modified_by }} on {{ ben.last_updated_date|date:'Y-m-d H:i T' }}
        </div>
    </div>
</div>
<div class="accordion" id="benaccordian">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingBasic">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBasic" aria-expanded="true" aria-controls="collapseBasic">
                Basic Entity Information
            </button>
        </h2>
        <div id="collapseBasic" class="accordion-collapse collapse show" aria-labelledby="headingBasic">
            <div class="accordion-body">
                <div class="row">
                    <div class="col">
                        <strong>Status:</strong> {{ ben.status }}
                    </div>
                    <div class="col">
                        <strong>Account Administrator:</strong> {{ ben.account_administrator_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Phone Number:</strong> {{ ben.phone_number }}
                    </div>
                    <div class="col">
                        <strong>Website URL:</strong> {{ ben.website_url }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Entity Email:</strong> {{ ben.email }}
                    </div>
                    <div class="col">
                        <strong>General Contact:</strong> {{ ben.general_contact_name }} {{ ben.general_contact_email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Physical Address:</strong>
                    </div>
                    <div class="col">
                        <strong>Mailing Address:</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ ben.physical_address }}
                        {% if ben.physical_address_2 %}
                        , {{ ben.physical_address_2 }}
                        {% endif %}
                        , {{ ben.physical_city }} 
                        , {{ ben.physical_county }}
                        {% if ben.physical_county|iends_with:'county' %}
                        , 
                        {% else %}
                            County, 
                        {% endif %}
                        {{ ben.physical_state }} 
                        {{ ben.physical_zipcode }}
                        {% if ben.physical_zipcode_ext %}
                        -{{ ben.physical_zipcode_ext }}
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ ben.mailing_address }}
                        {% if ben.mailing_address_2 %}
                        , {{ ben.mailing_address_2 }}
                        {% endif %}
                        , {{ ben.mailing_city }} 
                        , {{ ben.mailing_county }}
                        {% if ben.mailing_county|iends_with:'county' %}
                        , 
                        {% else %}
                            County, 
                        {% endif %} 
                        {{ ben.mailing_state }} 
                        {{ ben.mailing_zipcode }}
                        {% if ben.mailing_zipcode_ext %}
                        -{{ ben.mailing_zipcode_ext }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>FCC Reg. Num.:</strong> {{ ben.fcc_registration_number }}
                    </div>
                    <div class="col">
                        <strong>Most recent 498:</strong> {{ ben.fcc_form_498_form_number }}: {{ ben.form498_status }} ({{ ben.fcc_form_498_status_date_time|date:'Y-m-d' }})
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Lat / Lon:</strong> {{ ben.latitude }} / {{ ben.longitude }}
                    </div>
                    <div class="col">
                        <strong>Urban-Rural Status (User Provided/USAC System Generated):</strong> {{ ben.user_entered_urban_rural_status }} / {{ ben.urban_rural_status }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Cat One Discount:</strong> {{ ben.category_one_discount_rate }}
                    </div>
                    <div class="col">
                        <strong>Cat Two Discount:</strong> {{ ben.category_two_discount_rate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingExtra">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExtra" aria-expanded="false" aria-controls="collapseExtra">
                Extra Entity Information
            </button>
        </h2>
        <div id="collapseExtra" class="accordion-collapse collapse" aria-labelledby="headingExtra">
            <div class="accordion-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row"><strong>Is School/Library Independent:</strong></div>
                            </td>
                            <td class="col-3">{{ ben.is_school_library_independent }}</td>
                            <td class="col-3 text-end">
                                <div class="row"><strong>Private School District:</strong></div>
                                <div class="row"><strong>Public School District:</strong></div>
                                <div class="row"><strong>ESA School District:</strong></div>
                                <div class="row"><strong>Charter School District:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.private_school_district }}</div>
                                <div class="row ps-2">{{ ben.public_school_district }}</div>
                                <div class="row ps-2">{{ ben.esa_school_district }}</div>
                                <div class="row ps-2">{{ ben.charter_school_district }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row"><strong>C2 Student Count Reporting Type:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.c2_student_count_reporting_type }}</div>
                            </td>
                            <td class="col-3 text-end">
                                <div class="row"><strong>C2 District Student Count:</strong></div>
                                <div class="row"><strong>C2 School Student Count:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.c2_district_student_count }}</div>
                                <div class="row ps-2">{{ ben.c2_school_student_count }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row"><strong>ESA Consortium:</strong></div>
                                <div class="row"><strong>State-wide Consortium:</strong></div>
                                <div class="row"><strong>State Library Agency Consortium:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.esa_consortium }}</div>
                                <div class="row ps-2">{{ ben.state_wide }}</div>
                                <div class="row ps-2">{{ ben.state_library_agency_consortium }}</div>
                            </td>
                            <td class="col-3 text-end">
                                <div class="row"><strong>Non-profit Consortium:</strong></div>
                                <div class="row"><strong>State Educational Agency Consortium:</strong></div>
                                <div class="row"><strong>Other State Agency Consortium:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.non_profit_purchasing_group }}</div>
                                <div class="row ps-2">{{ ben.state_education_agency }}</div>
                                <div class="row ps-2">{{ ben.other_state_agency }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row"><strong>Main Library Branch School District Name:</strong></div>
                                <div class="row"><strong>Main Library Branch School District Number:</strong></div>
                                <div class="row"><strong>Library FSCS Key / Sequence:</strong></div>
                                <div class="row"><strong>Square Footage:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.main_library_branch_school_district_name }}</div>
                                <div class="row ps-2">{{ ben.main_library_branch_school_district_number }}</div>
                                <div class="row ps-2">{{ ben.fscs_key }} / {{ ben.fscs_seq }}</div>
                                <div class="row ps-2">{{ ben.square_footage }}</div>
                            </td>
                            <td class="col-3 text-end">
                                <div class="row"><strong>Private Library System:</strong></div>
                                <div class="row"><strong>Public Library System:</strong></div>
                                <div class="row"><strong>IMLS Local Code:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.private_library_system }}</div>
                                <div class="row ps-2">{{ ben.public_library_system }}</div>
                                <div class="row ps-2">{{ ben.locale_code }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row"><strong>Academic Library:</strong></div>
                                <div class="row"><strong>Kiosk Library:</strong></div>
                                <div class="row"><strong>New Construction Library:</strong></div>
                                <div class="row"><strong>Public Library:</strong></div>
                                <div class="row"><strong>State Library Agency - Library:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.academic }}</div>
                                <div class="row ps-2">{{ ben.kiosk }}</div>
                                <div class="row ps-2">{{ ben.new_construction_library }}</div>
                                <div class="row ps-2">{{ ben.public_library }}</div>
                                <div class="row ps-2">{{ ben.state_library_agency_library }}</div>
                            </td>
                            <td class="col-3 text-end">
                                <div class="row"><strong>Bookmobile Library:</strong></div>
                                <div class="row"><strong>Main Branch Library:</strong></div>
                                <div class="row"><strong>Private Library:</strong></div>
                                <div class="row"><strong>Research Library:</strong></div>
                                <div class="row"><strong>Tribal Library:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.bookmobile }}</div>
                                <div class="row ps-2">{{ ben.main_branch }}</div>
                                <div class="row ps-2">{{ ben.private_library }}</div>
                                <div class="row ps-2">{{ ben.research }}</div>
                                <div class="row ps-2">{{ ben.tribal_library }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row"><strong>State School Code:</strong></div>
                                <div class="row"><strong>State LEA Code:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.state_school_code }}</div>
                                <div class="row ps-2">{{ ben.state_lea_code }}</div>
                            </td>
                            <td class="col-3 text-end">
                                <div class="row"><strong>NCES Public State Code:</strong></div>
                                <div class="row"><strong>NCES Public District Code:</strong></div>
                                <div class="row"><strong>NCES Public Building Code:</strong></div>
                                <div class="row"><strong>NCES Private School ID:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.nces_public_state_code }}</div>
                                <div class="row ps-2">{{ ben.nces_public_district_code }}</div>
                                <div class="row ps-2">{{ ben.nces_public_building_code }}</div>
                                <div class="row ps-2">{{ ben.nces_private_school_id }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row"><strong>Total Number of Full-Time Students:</strong></div>
                                <div class="row"><strong>Total Number of Part-Time Students:</strong></div>
                                <div class="row"><strong>Peak Number of Part-Time Students:</strong></div>
                                <div class="row"><strong>Number of NSLP Students:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.number_of_full_time_students }}</div>
                                <div class="row ps-2">{{ ben.total_number_of_part_time_students }}</div>
                                <div class="row ps-2">{{ ben.peak_number_of_part_time_students }}</div>
                                <div class="row ps-2">{{ ben.number_of_nslp_students }}</div>
                            </td>
                            <td class="col-3 text-end">
                                <div class="row"><strong>CEP:</strong></div>
                                <div class="row"><strong>CEP Percentage:</strong></div>
                                <div class="row"><strong>Alternative Discount Method:</strong></div>
                                <div class="row"><strong>Does this organization have an endowment:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.community_eligibility_program_cep }}</div>
                                <div class="row ps-2">{{ ben.cep_percentage }}</div>
                                <div class="row ps-2">{{ ben.alternative_discount_method }}</div>
                                <div class="row ps-2">{{ ben.does_this_organization_have_an_endowment }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row"><strong>BIE:</strong></div>
                                <div class="row"><strong>Charter School:</strong></div>
                                <div class="row"><strong>ESA School:</strong></div>
                                <div class="row"><strong>ESA School District with no Schools:</strong></div>
                                <div class="row"><strong>Head Start:</strong></div>
                                <div class="row"><strong>Juvenile Justice:</strong></div>
                                <div class="row"><strong>Pre-K:</strong></div>
                                <div class="row"><strong>Private School:</strong></div>
                                <div class="row"><strong>Public School:</strong></div>
                                <div class="row"><strong>Tribal School:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.bie }}</div>
                                <div class="row ps-2">{{ ben.charter_school }}</div>
                                <div class="row ps-2">{{ ben.esa_school }}</div>
                                <div class="row ps-2">{{ ben.head_start }}</div>
                                <div class="row ps-2">{{ ben.juvenile_justice }}</div>
                                <div class="row ps-2">{{ ben.new_construction_school }}</div>
                                <div class="row ps-2">{{ ben.pre_k }}</div>
                                <div class="row ps-2">{{ ben.private_school }}</div>
                                <div class="row ps-2">{{ ben.public_school }}</div>
                                <div class="row ps-2">{{ ben.tribal_school }}</div>
                            </td>
                            <td class="col-3 text-end">
                                <div class="row"><strong>New Construction School:</strong></div>
                                <div class="row"><strong>Dormitory:</strong></div>
                                <div class="row"><strong>Adult Education:</strong></div>
                                <div class="row"><strong>Swing Space:</strong></div>
                                <div class="row"><strong>Detention Center:</strong></div>
                                <div class="row"><strong>General-Use School:</strong></div>
                                <div class="row"><strong>Tribal Affiliation:</strong></div>
                                <div class="row"><strong>Other Tribe Name:</strong></div>
                            </td>
                            <td class="col-3">
                                <div class="row ps-2">{{ ben.esa_school_district_with_no_schools }}</div>
                                <div class="row ps-2">{{ ben.dormitory }}</div>
                                <div class="row ps-2">{{ ben.adult_education }}</div>
                                <div class="row ps-2">{{ ben.swing_space }}</div>
                                <div class="row ps-2">{{ ben.detention_center }}</div>
                                <div class="row ps-2">{{ ben.general_use_school }}</div>
                                <div class="row ps-2">{{ ben.tribal_affiliation }}</div>
                                <div class="row ps-2">{{ ben.other_tribe_name }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingParent">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParent" aria-expanded="false" aria-controls="collapseParent">
                Parent Entities ({{ ben.parent_entities|length }})
            </button>
        </h2>
        <div id="collapseParent" class="accordion-collapse collapse" aria-labelledby="headingParent">
            <div class="accordion-body">
                {% if not ben.parent_entities|length %}
                <h4>None</h4>
                {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Parent Billed Entity Number</th>
                            <th scope="col">Parent Billed Entity Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for parent in ben.parent_entities %}
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row">{{ parent.0 }} <a class="nav-link ps-2" style="width: 0%;" href="{% url 'core:ben' parent.0 %}" target="_blank" role="button"><i class="bi bi-box-arrow-up-right"></i></a></div>
                            </td>
                            <td class="col-3">
                                {{ parent.1 }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingChildren">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChildren" aria-expanded="false" aria-controls="collapseChildren">
                Child Entities ({{ ben.child_entities|length }})
            </button>
        </h2>
        <div id="collapseChildren" class="accordion-collapse collapse" aria-labelledby="headingChildren">
            <div class="accordion-body">
                {% if not ben.child_entities|length %}
                <h4>None</h4>
                {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Child Billed Entity Number</th>
                            <th scope="col">Child Billed Entity Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for child in ben.child_entities %}
                        <tr>
                            <td class="col-3 text-end">
                                <div class="row">{{ child.0 }} <a class="nav-link ps-2" style="width: 0%;" href="{% url 'core:ben' child.0 %}" target="_blank" role="button"><i class="bi bi-box-arrow-up-right"></i></a></div>
                            </td>
                            <td class="col-3">
                                {{ child.1 }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}