:root {
  --site-bg-color: #333333;
  --site-txt-color: #fafafa;
  --site-border-color: #222222;
  --site-header-bg-color: #5f788a;
  --site-header-bg-dark-color: #495b68;
}

body, .breadcrumb-item.active, .accordion-item {
    /* light mode
    background: #fafafa;
    color: #333333; */

    /* darkmode */
    background: var(--site-bg-color);
    color: var(--site-txt-color);
}

h1, h2, h3, h4, h5, h6 {
    color: #fbfbfb;
}

ul {
    margin: 0;
}

.accordion-header {
    --bs-accordion-border-color: var(--site-border-color);
    --bs-accordion-active-bg: var(--site-header-bg-color);
    --bs-accordion-active-color: var(--site-txt-color);
    --bs-accordion-btn-bg: var(--site-header-bg-dark-color);
    --bs-accordion-btn-color: var(--site-txt-color);
    
}

.bg-steel {
    background-color: var(--site-header-bg-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--site-txt-color);
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.site-header-icon {
    font-size: 1.5rem;
    color: #ffffff;
}

.site-side-icon {
    color: #ffffff;
    background-color: #506675;
}

.site-side-bg {
    background-color: #506675;
}

.content-section {
    background: #444444;
    padding: 10px 20px;
    border: 1px solid var(--site-border-color);
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #cccccc;
}

a.article-title:hover {
    color: #75aefd;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #030303
}

.article-metadata a:hover {
    color: #ddd;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.searchinput {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 15px;
    font-size: 10pt;
    vertical-align: middle;
}

.searchcell {
    height: 12px;
}


